.wrap{
    background: lightcoral;
}
.board_wrap{
    height: 1500px;
    width: 100%;
    border: 5px dashed  yellow;
    padding: 1em;
    display: flex;
    gap: 50px;
}
.board{
    height: 100%;
    width: 400px;
    background: lightslategrey;
}
.container_wrap {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.container{
    height: 100%;
    border: 2px solid white;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border: 1px solid aquamarine;
    width: 100%;
}


